In [1]:
# import dependencies
import pandas as pd
import requests
import gmaps

# import gmaps API key
from config import g_key

In [2]:
# read and store data from cities.csv into dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,The Pas,CA,2021-02-01 00:11:01,53.8251,-101.2541,17.60,79,90,1.66
1,1,Cape Town,ZA,2021-02-01 00:08:20,-33.9258,18.4232,64.99,77,20,18.41
2,2,Cidreira,BR,2021-02-01 00:11:01,-30.1811,-50.2056,75.47,91,100,10.49
3,3,Georgetown,MY,2021-02-01 00:06:23,5.4112,100.3354,78.80,73,20,2.30
4,4,Sabang,ID,2021-02-01 00:11:02,5.8933,95.3214,80.73,80,68,20.20

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# heatmap of max temperatures
# get coordinates
locations = city_data_df[['Lat', 'Lng']]
# get max temperature
max_temp = city_data_df["Max Temp"]
# initiating fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# initiating heat_layer variable with coordinates and max temp
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False,
                                 max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# filtering dataframe to extract data with temp criterias
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']>=75) & (city_data_df['Max Temp']<=90)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Cidreira,BR,2021-02-01 00:11:01,-30.1811,-50.2056,75.47,91,100,10.49
3,3,Georgetown,MY,2021-02-01 00:06:23,5.4112,100.3354,78.80,73,20,2.30
4,4,Sabang,ID,2021-02-01 00:11:02,5.8933,95.3214,80.73,80,68,20.20
7,7,Hilo,US,2021-02-01 00:11:02,19.7297,-155.0900,78.80,61,20,10.36
8,8,Faanui,PF,2021-02-01 00:11:02,-16.4833,-151.7500,81.68,73,88,10.45
10,10,Samana,DO,2021-02-01 00:11:03,19.2056,-69.3369,77.00,94,75,11.50
13,13,Puerto Ayora,EC,2021-02-01 00:11:03,-0.7393,-90.3518,79.00,87,85,5.01
16,16,Cabadiangan,PH,2021-02-01 00:11:03,9.7531,122.4739,78.82,72,79,13.78
18,18,Hobart,AU,2021-02-01 00:11:04,-42.8794,147.3294,75.99,56,75,11.50
20,20,Thinadhoo,MV,2021-02-01 00:11:04,0.5333,72.9333,81.63,80,70,12.01

In [23]:
# find if any null values
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64