In [1]:
# import dependencies
import pandas as pd
import requests
import gmaps

# import gmaps API key
from config import g_key

In [2]:
# read and store data from cities.csv into dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-02-03 20:04:29,-53.1500,-70.9167,64.40,59,75,14.97
1,1,George,ZA,2021-02-03 20:04:29,-33.9630,22.4617,64.40,94,20,5.75
2,2,Puerto Ayora,EC,2021-02-03 20:03:40,-0.7393,-90.3518,86.00,66,0,21.85
3,3,Ribeira Grande,PT,2021-02-03 20:02:51,38.5167,-28.7000,53.60,66,40,26.46
4,4,Bluff,NZ,2021-02-03 20:00:32,-46.6000,168.3333,52.29,71,100,15.03

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# heatmap of max temperatures
# get coordinates
locations = city_data_df[['Lat', 'Lng']]
# get max temperature
max_temp = city_data_df["Max Temp"]
# initiating fig variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# initiating heat_layer variable with coordinates and max temp
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False,
                                 max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# filtering dataframe to extract data with temp criterias
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']>=75) & (city_data_df['Max Temp']<=90)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Puerto Ayora,EC,2021-02-03 20:03:40,-0.7393,-90.3518,86.00,66,0,21.85
5,5,Cassia,BR,2021-02-03 20:04:29,-20.5831,-46.9219,80.06,79,81,2.26
7,7,Maumere,ID,2021-02-03 20:04:30,-8.6199,122.2111,78.82,81,100,7.87
9,9,Yulara,AU,2021-02-03 20:01:12,-25.2406,130.9889,86.00,17,90,4.61
13,13,Namatanai,PG,2021-02-03 20:04:30,-3.6667,152.4333,79.70,83,100,6.93
22,22,Umm Kaddadah,SD,2021-02-03 20:04:32,13.6017,26.6876,80.06,17,0,5.08
31,31,Kaya,BF,2021-02-03 20:04:33,13.0917,-1.0844,78.10,15,10,7.27
35,35,Mahebourg,MU,2021-02-03 20:03:36,-20.4081,57.7000,78.80,89,75,4.61
37,37,Diamantino,BR,2021-02-03 20:00:07,-14.4086,-56.4461,87.37,61,92,3.56
46,46,Hithadhoo,MV,2021-02-03 20:04:35,-0.6000,73.0833,83.16,71,98,6.29

In [11]:
# find if any null values
preferred_cities_df.count()

City_ID       197
City          197
Country       194
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2   Puerto Ayora      EC     86.00  -0.7393  -90.3518
5         Cassia      BR     80.06 -20.5831  -46.9219
7        Maumere      ID     78.82  -8.6199  122.2111
9         Yulara      AU     86.00 -25.2406  130.9889
13     Namatanai      PG     79.70  -3.6667  152.4333
22  Umm Kaddadah      SD     80.06  13.6017   26.6876
31          Kaya      BF     78.10  13.0917   -1.0844
35     Mahebourg      MU     78.80 -20.4081   57.7000
37    Diamantino      BR     87.37 -14.4086  -56.4461
46     Hithadhoo      MV     83.16  -0.6000   73.0833

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,86.00,-0.7393,-90.3518,Castillo Galapagos
5,Cassia,BR,80.06,-20.5831,-46.9219,Hotel Ancora e Restaurante de Cassia MG
7,Maumere,ID,78.82,-8.6199,122.2111,Sylvia Hotel
9,Yulara,AU,86.00,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
13,Namatanai,PG,79.70,-3.6667,152.4333,Namatanai Hotel
22,Umm Kaddadah,SD,80.06,13.6017,26.6876,
31,Kaya,BF,78.10,13.0917,-1.0844,Maison de l'appelé
35,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
37,Diamantino,BR,87.37,-14.4086,-56.4461,Hotel Delta
46,Hithadhoo,MV,83.16,-0.6000,73.0833,Scoop Guest House

In [15]:
# Add a heatmap of temperature for the vacation spots and pop-up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))