## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Bonavista,CA,37.00,light rain,48.6499,-53.1147,Abbott's Bed & Breakfast
1,4,Mataura,NZ,51.78,broken clouds,-46.1927,168.8643,Ellie's Villa
2,5,Ribeira Grande,PT,53.60,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
3,6,Kapaa,US,68.00,broken clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
4,8,Hermanus,ZA,64.00,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
...,...,...,...,...,...,...,...,...
329,683,Rabo De Peixe,PT,53.60,few clouds,37.8000,-25.5833,Quinta das Giestas
330,685,Russell,US,55.40,clear sky,32.3502,-85.1999,Macs
331,687,Port Pirie,AU,69.80,light rain,-33.1833,138.0167,John Pirie Motor Inn
332,689,Camana,PE,74.37,overcast clouds,-16.6228,-72.7111,Hostal Morales
333,691,Gimli,CA,24.80,overcast clouds,50.6336,-96.9907,Lakeview Gimli Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
<dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


vacation_start = vacation_df.loc[vacation_df['City']=='Suez']
vacation_end = vacation_df.loc[vacation_df['City']=='Suez']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Luxor']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Aswan'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Marsa Matruh']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [21]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
egypt_vacation = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(egypt_vacation)
# display map
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,211,Suez,EG,66.25,overcast clouds,29.9737,32.5263,Green House
1,266,Luxor,EG,69.80,broken clouds,25.6989,32.6421,Iberotel Luxor
2,344,Aswan,EG,69.37,broken clouds,24.0934,32.9070,Nuba Nile
3,553,Marsa Matruh,EG,60.80,clear sky,31.3525,27.2453,Beau Site

In [33]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}, {Max Temp}°F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
egypt_hotels= gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(egypt_hotels)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))